<div class="row mt-5 p-3 bg-secondary">
    <div class="col-md-6 col-12 mt-3 bg-white p-5 border">
        <a href=""><img class="img-fluid" src="img/zoio.jpg" style="height: 15em; width: 15em;"></a>
        <h6>Data: 13/06/2020</h6>
        <h3>Everson Zoio trai namorada</h3>
        <p>Não para a surpresa de todos, o youtuber Everson Zoio volta a chamar a atenção ao ser exposto pela namora.</p>
    </div>
    <div class="col-md-6 col-12 mt-3 bg-white p-5 border">
        <a href=""><img class="img-fluid" src="img/mariManu.jpg" style="height: 15em; width: 15em;"></a>
        <h6>Data: 13/06/2020</h6>
        <h3>Richa do BBB?</h3>
        <p>'Mandei um direct, mas ela não respondeu', diz Mari Gonzalez sobre Manu</p>
    </div>
    <div class="col-md-6 col-12 mt-3 bg-white p-5 border">
        <a href=""><img class="img-fluid" src="img/anittaNey.jpg" style="height: 15em; width: 15em;"></a>
        <h6>Data: 12/06/2020</h6>
        <h3>Quem fala o que quer, ouve o que não quer</h3>
        <p>Anitta zoa ficada com Neymar e é 'exposta' por ex-namorados e ex-namoradas.</p>
    </div>
    <div class="col-md-6 col-12 mt-3 bg-white p-5 border">
        <a href=""><img class="img-fluid" src="img/luisaWinderson.png" style="height: 15em; width: 15em;"></a>
        <h6>Data: 12/06/2020</h6>
        <h3>Ex casados se defendendo?</h3>
        <p>Whindersson Nunes defende Luisa Sonza de haters: 'Me entristece'.</p>
    </div>
</div>